ion-silides {
    height: 30%;
}

.desc{
 border: 1.5px solid black; 
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 15px;
 margin-right: 15px; 
}

.icon{
    font-size: 30px;
    position: absolute;
    right: 0px;
    top: 10px;
}