<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <!-- <ion-title>
      Tab 1
    </ion-title>-->
    <ion-searchbar slot="secondary" showCancelButton="focus" placeholder="Buscar en Liverpool..."></ion-searchbar>
    <ion-buttons slot="primary"> 
      <ion-button>
        <ion-icon name="bag-outline" class="icon"  ></ion-icon>
        <p class="icontext">0</p>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
